* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
}

@font-face {
    font-family: Rubik;
    src: url("../fonts/Rubik/static/Rubik-SemiBold.ttf");
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    /* border: 2px solid saddlebrown; */
    background-color: #f1f0ec;
}

.card-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 90%;
    /* height: 200px; */
    /* border: 2px solid greenyellow; */
}

.card {
    background-color: rgb(255, 255, 255);
    /* box-shadow: 5px 1px 4px grey;
     */
    box-shadow: 2px 2px 10px rgb(183, 181, 181);
    position: relative;
    width: 280px;
    /* height: 26rem; */
    border-radius: 1.2rem;
    padding: 1.3rem 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid rgb(180, 180, 180); */
    /* align-items: center; */
}

.img-box {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 1rem;
}

.sale-btn {
    position: absolute;
    height: 2.3rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 4.5rem;
    background-color: rgb(239 68 68);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    top: 13px;
    left: 12px;
}

img {
    height: 14rem;
    width: 15.5rem;
    border-radius: 1rem;
}

.product-description {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.product-name {
    font-size: 1.4rem;
}

.product-info {
    margin: 0.5rem 0px;
    font-family:  sans-serif;
    font-size: 1.2rem;
}

.product-price {
    margin-bottom: 0.7rem;
    font-size: 1.2rem;
}

.add-to-cart-btn {
    width: 244px;
    height: 40px;
    border: none;
    font-size: medium;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    background-color: #508f5a;
    
}

.add-to-cart-btn:hover {
    background-color: #3b7144;
}